
/* css stylesheet */
/* design & code by anna borisovna sergeeva */
           
body {
  overflow-y: none;
  text-align: left;
  margin: 100px 0 0 0;
  background-color: #193585;
  color: white;
  letter-spacing: .5px;
  font-family: 'PT Mono', monospace;
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  font-style: italic;
  font-weight: bold;
}

p {
  text-align: left;
  margin-bottom: 125px;
  font-size: 15px;
}

.manifesto {
  margin: 100px;
}

.manifesto > p {
  margin-bottom: 50px;
}

.dream {
  margin: 100px;
}

.dream > p {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.dream > h2 {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.dream > h3 {
  margin-bottom: 25px;
  line-height: 1.35em;
  color: #193585;
}

.dream a {
  color: #193585;
}

.dream a:hover {
  color: #193585;
}

.dreamers {
  margin: 100px;
}

.dreamers > p {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.dreamers > h2 {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.dreamers > h3 {
  margin-bottom: 25px;
  line-height: 1.35em;
  color: #193585;
}

.dreamers a {
  color: #193585;
}

.dreamers a:hover {
  color: #193585;
}

.inspirations {
  margin: 100px;
}

.inspirations > p {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.inspirations > h2 {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.inspirations > h3 {
  margin-bottom: 15px;
  line-height: 1.35em;
  color: #193585;
}

.inspirations a {
  color: #193585;
}

.inspirations a:hover {
  color: #193585;
}

footer {
  padding: 15%;
  color: #193585;
}

footer a {
  color: #193585;
}

nav {
  font-size: 12px;
  text-align: center;
}

.anna ul {
  list-style-type: none;
  padding: 0;
}

.anna li {
  text-align: center;
  line-height: 2.5em;
  color: #193585;
}

/* images */

.logo img {
  width: 150px;
  height: 150px;
  margin-left: 100px;
  margin-bottom: 300px;
}

/* smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {

p{
  font-size: 13px;
  line-height: 22px; 
}

.manifesto {
  margin: 25px;
}

.manifesto > p {
  margin-bottom: 25px;
}

.dream {
  margin: 25px;
}

.dreamers {
  margin: 25px;
}

.inspirations {
  margin: 25px;
}

.inspirations > h1 {
  font-size: 25px;
}

.anna li {
  text-align: center;
  line-height: 3em;
}

.logo img {
  width: 100px;
  height: inherit;
  margin-left: 25px;
  margin-bottom: 330px;
}
	
}
